body{
  font-family:"Arial", "Meiryo", sans-serif;
  font-size:20px;
  text-align:center;
}
h1{
  font-family:"Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:40px;
  letter-spacing:48px;
  text-shadow:2px 2px yellowgreen;
}
hr{
  background-color:rgb(115, 115, 114);
  height:3px;
}
.skyblue{
  color:skyblue;
}
.pink{
  color:rgb(255, 192, 203);
}
#name,#birthday,#blood{
  font-weight:bold;
}
